@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.6s ease-out forwards;
}
